<%- include('../layouts/header.ejs'); %>
<div id="layoutSidenav_content">
    <main>
      <header class="page-header page-header-dark bg-primary pb-10">
        <div class="container-xl px-4">
          <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
              <div class="col-auto mt-4">
                <h1 class="page-header-title">
                  <div class="page-header-icon">
                    <i data-feather="archive"></i>
                  </div>
                  <%= detalles.Nombre %>
                </h1>
                <div class="page-header-subtitle">
                  Visualiza información general del proveedor
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- main  page content-->
      <div class="container-xl px-4 mt-n10">
        <!-- Payment methods card-->
        <div class="card card-header-actions mb-4">
          <div class="card-header p-5">
            Información general
            <button class="btn btn-md btn-warning" type="button">Editar</button>
          </div>
          <div class="card-body px-0">
            <!-- Payment method 1-->
            <div class="d-flex align-items-center justify-content-between px-4">
              <div class="d-flex align-items-center">
                <i data-feather="archive"></i>
                <div class="ms-4">
                  <div class="text-xs text-muted">Dirección</div>
                  <div class="small"><%= detalles.Direccion %></div>
                </div>
              </div>
            </div>
            <hr />
            <!-- Payment method 2-->
            <div class="d-flex align-items-center justify-content-between px-4">
              <div class="d-flex align-items-center">
                <i data-feather="file-text"></i>
                <div class="ms-4">
                  <div class="text-xs text-muted">Teléfono</div>
                  <div class="small"><%= detalles.Tel %></div>
                </div>
              </div>
            </div>
            <hr />
            <!-- Payment method 3-->
            <div class="d-flex align-items-center justify-content-between px-4">
              <div class="d-flex align-items-center">
                <i data-feather="calendar"></i>
                <div class="ms-4">
                  <div class="text-xs text-muted">Correo</div>
                  <div class="small"><%= detalles.Email %></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Materias y mas-->
        <section id="alumnosSection">
          <div class="card card-header-actions mb-4">
            <div class="card-header p-5">
              Contactos
              <button class="btn btn-md btn-warning" type="button" data-toggle="modal" data-target="#modalCliente">
                Agregar contacto
              </button>
            </div>
            <div class="card-body table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th>Cargo</th>
                    <th>Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <% contactos.forEach(element => { %>
                    <tr>
                        <td><%= element.Nombre  %></td>
                        <td><%= element.Tel  %></td>
                        <td><%= element.Email  %></td>
                        <td><%= element.Cargo  %></td>
                        <td><a class="btn btn-danger btnDeleteContactProveedor" data-id="<%= element.id_contacto%>" >Eliminar</a></td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>
    </main>


    <!-- Modal Agregar cliente -->

    <div class="modal fade" id="modalCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Agregar nuevo contacto del proveedor</h5>
            <button type="button" class="close btn btn-light" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="formProveedorContacto">
              <div class="row">
                <div class="col-md-6">
                  <label for="recipient-name" class="col-form-label">Nombre</label>
                  <input type="text" class="form-control"  name="Nombre" />
                </div>
                <div class="col-md-6">
                  <label for="recipient-name" class="col-form-label">Correo</label>
                  <input type="text" class="form-control"  name="Email" />
                </div>
                <div class="col-md-6">
                  <label for="recipient-name" class="col-form-label">Teléfono</label>
                  <input type="text" class="form-control"   name="Tel"/>
                </div>
                <div class="col-md-6">
                  <label for="recipient-name" class="col-form-label">Cargo</label>
                  <input type="text" class="form-control"   name="Cargo"/>
                </div>
                <input type="hidden" name="id_proveedor" value="<%= proveId%>">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Cerrar
            </button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>

        </div>
      </div>
    </div>
  <%- include('../layouts/footer.ejs'); %>
  <script src="/static/js/proveedores.js"></script>