<%- include('../layouts/header.ejs'); %>
  <div id="layoutSidenav_content">
    <main>
      <header class="page-header page-header-dark bg-primary pb-10">
        <div class="container-xl px-4">
          <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
              <div class="col-auto mt-4">
                <h1 class="page-header-title">
                  <div class="page-header-icon">
                    <i data-feather="archive"></i>
                  </div>
                  Proveedores
                </h1>
                <div class="page-header-subtitle">
                  Visualiza todos los proveedores registrados
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- Main page content-->
      <div class="container-xl px-4 mt-n10">
        <div class="card card-header-actions mb-4">
          <div class="card-header p-5">
            Clientes
            <button class="btn btn-md btn-warning" type="button" data-toggle="modal" data-target="#modalCliente">
              Agregar proveedor
            </button>
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Dirección</th>
                  <th>Teléfono</th>
                  <th>Email</th>
                  <th>Opciones</th>
                </tr>
              </thead>
              <tbody>
                <% proveedores.forEach(element=> { %>
                  <tr>
                    <td>
                      <%= element.Nombre %>
                    </td>
                    <td>
                      <%= element.Direccion %>
                    </td>
                    <td>
                      <%= element.Tel %>
                    </td>
                    <td>
                      <%= element.Email %>
                    </td>
                    <td>
                      <a href="/proveedores/detalle/<%=element.id_proveedor%>" class="btn btn-primary">Contactos</a>
                      <a class="btn btn-danger btnDeleteProveedores" data-id="<%= element.id_proveedor %>" >Eliminar</a>
                    </td>
                  </tr>
                  <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>

    <!-- Modal Agregar cliente -->

    <div class="modal fade" id="modalCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Agregar nuevo proveedor</h5>
            <button type="button" class="close btn btn-light" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="formProveedores">
              <div class="row">
                <div class="col-md-4">
                  <label for="recipient-name" class="col-form-label">Nombre</label>
                  <input type="text" class="form-control" name="Nombre" />
                </div>
                <div class="col-md-4">
                  <label for="recipient-name" class="col-form-label">Correo</label>
                  <input type="text" class="form-control" name="Email" />
                </div>
                <div class="col-md-4">
                  <label for="recipient-name" class="col-form-label">Teléfono</label>
                  <input type="text" class="form-control"  name="Telefono"/>
                </div>
                <div class="col-md-12">
                  <label for="message-text" class="col-form-label">Dirección</label>
                  <textarea class="form-control" id="message-text" name="Direccion"></textarea>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Cerrar
            </button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>

        </div>
      </div>
    </div>

    <%- include('../layouts/footer.ejs'); %>
  <script src="/static/js/proveedores.js"></script>