<%- include('../layouts/header.ejs'); %>
  <div id="layoutSidenav_content">
    <main>
      <header class="page-header page-header-dark bg-primary pb-10">
        <div class="container-xl px-4">
          <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
              <div class="col-auto mt-4">
                <h1 class="page-header-title">
                  <div class="page-header-icon">
                    <i data-feather="archive"></i>
                  </div>
                  Cotizaci贸n hecha a cliente : <%= datacliente[0].cliente%>
                </h1>
                <div class="page-header-subtitle">
                  Visualiza la informaci贸n de los productos de la cotizaci贸n
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- Main page content-->
      <div class="container-xl px-4 mt-n10">
        <div class="card card-header-actions mb-4">
          <div class="card-header p-5">
            <a href="/cotizaciones/ordenes" class="btn btn-md btn-primary"><i class="fas fa-arrow-left"></i></a>
          </div>
          <div class="card-body">


            <% dataOrdenada.forEach( (element)=> {  %>
            <div class="row">
              <div class="col-md-4">
                <div class="card card-header-actions mb-4">
                  <div class="card-body">
                    <h3> <%=element.Nombre %> </h3>
                    <p><span class="font-weight-bold">Costo: </span>$<%=element.Precio %> </p>
                    <hr>
                    <p><%= element.Descripcion%></p>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="card card-header-actions mb-4">
                  <div class="card-header p-5">
                    Materiales a utilizar
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <td>Nombre</td>
                            <td>Cantidad</td>
                          </tr>
                        </thead>
                        <tbody>
                          <%element.materiales.forEach( material => { %>
                          <tr>
                            <td> <%= material.Nombre %> </td>
                            <td> <%= material.cantidad %> </td>
                          </tr>
                          <%})%>
                        </tbody>
                      </table>
                  </div>
                </div>
              </div>
            </div>


          <%})%>


          </div>
        </div>
      </div>
    </main>

    <!-- Modal Agregar producto -->

    <div class="modal fade" id="modalCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Agregar productos</h5>
            <button type="button" class="close btn btn-light" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="formProductos">
              <div class="row">
                <div class="col-md-12">
                  <label for="recipient-name" class="col-form-label">Nombre del producto</label>
                  <input type="text" class="form-control" name="Nombre" />
                </div>
                <div class="col-md-12">
                  <label for="recipient-name" class="col-form-label">Descripci贸n del producto</label>
                  <input type="text" class="form-control" name="Descripcion" />
                </div>
              </div>
              <input type="hidden" name="id_cotizacion" value="<%= id_cotizacion%>">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Cerrar
            </button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>

        </div>
      </div>
    </div>



    
    <div class="modal fade" id="modalMateriales" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Agregar materiales de producto</h5>
            <button type="button" class="close btn btn-light" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="formMaterialesInProducto">
              <div class="row">
                <div class="col-md-10">
                  <label for="recipient-name" class="col-form-label">Nombre del material por proveedor</label>
                  <select name="material_id" class="form-control">
                    <option selected disabled>Seleccione material</option>
                    <% todosMateriales.forEach( element => {   %>
                      <option value="<%=element.id_union%>">  <%= element.NombreMaterial%>  | <%= element.Proveedor  %> | $<%= element.Precio %> </option>
                    <%})%>
                  </select>
                </div>
                <div class="col-md-2">
                  <label for="recipient-name" class="col-form-label">Cantidad</label>
                  <input type="number" class="form-control" name="cantidad" min="0" value="1" step="1" />
                </div>
              </div>
              <input type="hidden" name="id_producto"  id="id_producto">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Cerrar
            </button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>

        </div>
      </div>
    </div>

    <%- include('../layouts/footer.ejs'); %>
  <script src="/static/js/cotizaciones.js"></script>